.form-container {
  max-width: 300px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: white;


  .input-container {
    margin-bottom: 15px;

    .form-label {
      display: block;
      margin-bottom: 5px;
    }

    .form-control {
      width: 100%;
      padding: 8px;
      box-sizing: border-box;
      border: 1px solid #dde2e7;
      border-radius: 15px;
    }

    .error {
      color: red;
      font-size: 0.875rem;
      margin-top: 4px;
    }
  }

  .submit {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    background: #ff7f00;
    color: white;

  }
}
